{
  "extends": "lowmess",
  "env": {
    "node": true,
    "browser": true
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "extends": "lowmess/typescript"
    }
  ],
  "rules": {
    "no-console": 0
  }
}
